.Footer {
    position: relative; 
    bottom: 0;
    background-color: #ebebeb; 
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    margin-left: -125px;
    margin-right: -125px;
}

.Footer::before {
    content: '';
    position: absolute;
    top: 0px; 
    left: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); 
}

.Col1 {
    margin-left: 125px;
}

.Col2 {
    margin-left: 70px;
}

.Col3 {
    margin-left: 70px;
}

.Title {
    text-transform: uppercase;
    font-size: 16px;    
    margin: 30px 0;
}

.Footer .Title {
    text-align: left;
}

.Items {
    font-size: 12px;
    
}

.Item {
    margin-bottom: 12px;
}

.Icons {
    display: flex;
    flex-direction: row;
}

.Icons img:not(:last-child) {
    margin-right: 10px; 
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Row div:not(:last-child) {
    margin-right: 12px; 
}

.MarginRight15 {
    margin-right: 15px;
}

.Buttons {
    margin-bottom: 30px;
}

.Email {
    font-size: 12px;
    margin: 30px 0;
}

.Note {
    font-size: 10px;
}