.banner {
    width: 560px;
    height: 59px;
    
    color: #fff;
    z-index: 1;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-left: 15px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner-title {
    z-index: 1;
    position: absolute;
    bottom: 20px;
}

.banner-bg {
    z-index: 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner-shadow {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.68%, rgba(76, 18, 0, 0.5) 89.24%);
}