.Header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-image: linear-gradient(270deg, #EBEBEB 0%, #F88044 50%, #EBEBEB 100%) 1;
    border-bottom: 1px solid;
}

.nav-item {
    display: flex;
    justify-content: center;
}