.big-button {
    padding: 12px 16px 12px 16px;
    background: #e88652;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    width: 206px;
    text-align: center;
}
.big-button:hover {background: #FC9E6C;}