.EventCard {
    position: relative;
    color: #282828;
    width: 185px;
    height: 317px;
    display: flex;
    flex-direction: column;
}

.EventPrice {
    position: absolute;
    /* transform: translate(0, -100%); */
    /* align-self: flex-end; */
    top: 235px;
    right: 10px;
    transform: translate(0, -100%);
    font-size: 15px;
    line-height: 16px;
    padding: 3px;
    border-radius: 5px;
    width: min-content;
    text-transform: uppercase;
    color: white;
    /* по дефолту цвет как для не бесплатного */
    background-color: #237FD0; 
    display: flex;
    align-items: center;
}

.Free {
    background-color: #DE3838;
}


.EventInfo {
    height: 62px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 245px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
}

.EventTitle {
    font-size: 13px;
    line-height: 14px;
}

.EventDatetime {
    font-size: 11px;
    
}

.EventLocation {
    font-size: 11px;
    text-transform: uppercase;
}